@import url("https://rsms.me/inter/inter.css");
:root {
  --color-light: white;
  --color-dark: #212121;
  --color-signal: #fab700;
  --color-background: var(--color-light);
  --color-text: var(--color-dark);
  --color-accent: var(--color-signal);
  --size-bezel: 0.5rem;
  --size-radius: 4px;
  /* line-height: 1.4; */
  font-family: "Inter", sans-serif;
  font-size: calc(0.6rem + 0.4vw);
  color: var(--color-text);
  background: var(--color-background);
  font-weight: 400;
  /* padding: 0 calc(var(--size-bezel) * 3); */
}

h1,
h2,
h3 {
  font-weight: 900;
}

mark {
  background: var(--color-accent);
  color: var(--color-text);
  font-weight: bold;
  padding: 0 0.2em;
}

.App {
  text-align: center;
}

.App-logo {
  /* height: 40vmin; */
  /* pointer-events: none; */
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  width: 100vw;
  height: 15vh;
  background: url("https://images.pexels.com/photos/7319166/pexels-photo-7319166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: center;
  font-size: calc(10px + 2vmin);
  color: black;
  padding: 0;
  margin: 0;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.brand {
  /* background: var(--color-signal); */
  /* width: fit-content; */
  /* margin: auto; */
  margin-top: 0%;
  padding: 0.1em 0.5em;
  /* background: yellow; */
  margin-bottom: 0%;
}

.desc {
  margin-top: 0%;
  font-size: 0.8em !important;
  /* background: red; */
}

.bizName {
  /* border: 2px solid black; */
  width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.bizName .name {
  text-transform: capitalize;
}

.bizName .links {
  display: flex;
  gap: 2vw;
}

/* copied */

.card {
  position: static;
  top: -120px;
  background: var(--color-background);
  padding: calc(4 * var(--size-bezel));
  border-radius: var(--size-radius);
  border: 3px solid var(--color-shadow, currentColor);
  box-shadow: 0.5rem 0.5rem 0 var(--color-shadow, currentColor);
  width: 60%;
  margin: calc(4 * var(--size-bezel)) auto;
  margin-bottom: 0;
}
.card *:first-child {
  margin-top: 0;
}

.input {
  position: relative;
}
.input__label {
  position: absolute;
  left: 0;
  top: 0;
  padding: calc(var(--size-bezel) * 0.75) calc(var(--size-bezel) * 0.5);
  margin: calc(var(--size-bezel) * 0.75 + 3px) calc(var(--size-bezel) * 0.5);
  background: pink;
  white-space: nowrap;
  transform: translate(0, 0);
  transform-origin: 0 0;
  background: var(--color-background);
  transition: transform 120ms ease-in;
  font-weight: bold;
  line-height: 1.2;
}
.input__field {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border: 3px solid currentColor;
  padding: calc(var(--size-bezel) * 1.5) var(--size-bezel);
  color: currentColor;
  background: transparent;
  border-radius: var(--size-radius);
}
.input__field:not(:-moz-placeholder-shown) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}
.input__field:not(:-ms-input-placeholder) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}
.input__field:focus + .input__label,
.input__field:not(:placeholder-shown) + .input__label {
  transform: translate(0.25rem, -65%) scale(0.8);
  color: var(--color-accent);
}

button {
  margin-top: 4vh;
  color: currentColor;
  padding: 1em 2em;
  cursor: pointer;
  background: var(--color-accent);
  border: none;
  border-radius: var(--size-radius);
  font-weight: 900;
  font-size: 1em;
}
